.wrapper.promotion {
  .main {
    display: flex;
    align-items: center;
<<<<<<< HEAD
    .img_container{
      position: absolute;
      top: 50%;
      left: 5%;
      transform: translate(0%, -50%);
      width: 40%;
      img{
        width: 100%;
      }
    }
    .card {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(0%, -50%);
      .card-content {
        $card-padding: 6rem;
=======
    .img_container {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 40%;
      img {
        width: 100%;
      }
    }
    .clothes_name {
      position: absolute;
      top: 100px;
      left: 100px;
      width: 75%;
      margin-left: auto;
      margin-right: auto;
      z-index: 3;
      font-family: Hiragino Maru Gothic Pro;
      font-style: normal;
      font-weight: normal;
      font-size: 100px;
      color: #000000;
    }

    .colors {
      position: absolute;
      right: 100px;
      top: 100px;
      height: 80%;
      .item {
        $color_btn--size: 60px;
        margin-bottom: 50px;
        width: $color_btn--size;
        height: $color_btn--size;
        background-color: #fff;
        border-radius: 100%;
        &.active {
          box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.2);
        }
        &.blue {
          background-color: #0043ed;
        }
        &.yellow {
          background-color: #fccb90;
        }
        &.black {
          background-color: #040404;
        }
        &.white {
          background-color: #ffffff;
          border: 2px solid #d0d0d0;
        }
      }
    }
    .card {
      position: absolute;
      height: 500px;
      width: 70%;
      top: auto;
      bottom: 200px;
      left: 50%;
      transform: translate(-50%, 0);
      position: absolute;
      .card-content {
        $card-padding: 75px;
>>>>>>> 17b6c426d403d8c4d08db15cc97442f086dac66c
        position: relative;
        width: 100%;
        height: 100%;
        padding: $card-padding;
        display: flex;
<<<<<<< HEAD
        .text_container {
          width: 75%;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 210px;
          z-index: 3;
          .clothes_name {
            font-family: Hiragino Maru Gothic Pro;
            font-style: normal;
            font-weight: normal;
            font-size: 8rem;
            color: #000000;
          }
          .explanation {
            width: 80%;
            margin-top: 210px;
            font-family: SF Pro Rounded;
            font-style: normal;
            font-weight: 500;
            font-size: 3rem;
            line-height: 4rem;
          }
        }
        .colors {
          height: 80%;
          .item {
            $color_btn--size: 6rem;
            margin-bottom: 5rem;
            width: $color_btn--size;
            height: $color_btn--size;
            background-color: #fff;
            border-radius: 100%;
            &.active {
              box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.2);
            }
            &.blue{
              background-color: #0043ED;
            }
            &.yellow{
              background-color: #FCCB90;
            }
            &.black{
              background-color: #040404;
            }
            &.white{
              background-color: #FFFFFF;
              border: 2px solid #d0d0d0;
            }
          }
        }
        .btn {
          position: absolute;
          bottom: $card-padding;
          right: $card-padding;
=======
        .explanation {
          margin: 0 auto;
          font-family: SF Pro Rounded;
          font-style: normal;
          font-weight: 500;
          font-size: 36px;
          line-height:60px;
        }
        .price{
          position: absolute;
          left: $card-padding;
          bottom: 50px;
          width: 300px;
          height: 90px;
          font-family: Hiragino Maru Gothic Pro;
          font-style: normal;
          font-weight: normal;
          font-size: 48px;
          line-height: 96px;
        }
        .btn {
          position: absolute;
          right: 50px;
          bottom: 50px;
          width: 300px;
          height: 90px;
          font-family: Hiragino Maru Gothic Pro;
          font-style: normal;
          font-weight: normal;
          font-size: 48px;
>>>>>>> 17b6c426d403d8c4d08db15cc97442f086dac66c
        }
      }
    }
  }
}
