.btn {
  text-align: center;
  background-color: #625b56;
  background: linear-gradient(75.71deg, #fccb90 0%, #d57eeb 141.32%);
  box-shadow: 10px 10px 10px #ebe0d9;
  border-radius: 100px;

  font-family: Hiragino Maru Gothic Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 96px;
  line-height: 72px;
  color: #ffffff;
}