$color_btn--size: 6rem;

.colors {
  .item {
    margin-bottom: 5rem;
    width: $color_btn--size;
    height: $color_btn--size;
    background-color: #fff;
    border-radius: 100%;
    &.active {
      box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.2);
    }
    &.blue{
      background-color: #0043ED;
    }
    &.yellow{
      background-color: #FCCB90;
    }
    &.black{
      background-color: #040404;
    }
    &.white{
      background-color: #FFFFFF;
      border: 2px solid #d0d0d0;
    }
  }
}